<ion-content class="auth-bg">
    <div class="auth-wrapper">


        <div class="auth-card">
            <ion-img src="assets/logo/qwik2pay.png" class="app-logo"></ion-img>
            <h2 class="auth-title">Create Account</h2>

            <form [formGroup]="form" (ngSubmit)="register()">
                <div class="input-group">
                    <label>Email</label>
                    <ion-input type="email" formControlName="email" placeholder="Enter your email"></ion-input>
                </div>

                <div class="input-group">
                    <label>Mobile Number</label>
                    <div class="phone-input">
                        <ion-select formControlName="countryCode" interface="popover" placeholder="+Code">
                            <ion-select-option *ngFor="let c of countries" [value]="c.dialCode">
                                {{ c.flag }} ({{ c.dialCode }})
                            </ion-select-option>
                        </ion-select>
                        <ion-input type="tel" formControlName="mobile"  placeholder="Enter mobile number">
                        </ion-input>
                    </div>
                    <div *ngIf="form.controls['mobile'].invalid && form.controls['mobile'].touched" class="error">
                        Invalid phone number for selected country
                    </div>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <ion-input type="password" formControlName="password" placeholder="Create password"></ion-input>
                </div>

                <div class="input-group" *ngIf="otpSent">
                    <label>Verification Code</label>
                    <ion-input type="text" formControlName="otp" placeholder="Enter OTP"></ion-input>
                </div>

                <ion-button expand="block" shape="round" (click)="sendOtp()" [disabled]="otpSent" class="primary-btn">
                    SEND VERIFICATION CODE
                </ion-button>

                <ion-button expand="block" shape="round" type="submit" [disabled]="!otpVerified" class="secondary-btn">
                    CREATE ACCOUNT
                </ion-button>
            </form>

            <div class="divider">
                <span>Or Sign Up Using</span>
            </div>

            <div class="social-login">
                <ion-button fill="clear" class="social-btn google" (click)="signupWithGoogle()">
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
                <ion-button fill="clear" class="social-btn facebook" (click)="signupWithFacebook()">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
            </div>

            <div class="auth-footer">
                Already have an account?
                <span routerLink="/login">LOGIN</span>
            </div>
        </div>
    </div>
</ion-content>